@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tukang Design Brand Colors and Variables
   */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;

    --primary: 142 33% 17%;
    --primary-foreground: 0 0% 100%;

    --secondary: 146 27% 77%;
    --secondary-foreground: 142 33% 17%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 36%;

    --accent: 34 70% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 82%;
    --input: 0 0% 82%;
    --ring: 142 33% 17%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 142 33% 17%;
    --foreground: 0 0% 100%;

    --card: 142 33% 17%;
    --card-foreground: 0 0% 100%;

    --popover: 142 33% 17%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 142 33% 17%;

    --secondary: 142 16% 13%;
    --secondary-foreground: 0 0% 100%;

    --muted: 142 16% 13%;
    --muted-foreground: 0 0% 65%;

    --accent: 34 70% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 142 16% 13%;
    --input: 142 16% 13%;
    --ring: 0 0% 84%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  html {
    font-family: 'Plus Jakarta Sans', -apple-system, Roboto, Helvetica, sans-serif;
  }

  .bg-gradient-radial {
    background: radial-gradient(52.19% 100% at 50% 0%, black 0%, rgba(0, 0, 0, 0) 95.31%);
  }
}
